body{
    background-color: darkcyan;
}
.test{
    padding: 0;
    margin: 9px;
    border: 0;
    font-style: 66px;
    padding-bottom: 22px;
}
.test4{
    font-style: 2px;
    display: flex;
}
h1{
    color: #fff;
}